
  *{
    transition: all 0.3s ease;
  background-color: hwb(241 14% 9%);
  }
  body::-webkit-scrollbar {
    width: 0.25rem;
  }

  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #6649b8;
  }
  html{
    scroll-behavior: smooth;
  }
body{
  background-color: hwb(241 14% 9%);
  font-family: Roboto, sans-serif;
  margin: 0;
}
a{
  transition: all .5s ease;
  color: aquamarine;
  text-decoration: none;
}

.nav-hidden{
  transform: translateY(-500px);
}
.buttons{
  margin-right: 15vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.buttons a:hover{
  color: rgba(255, 255, 255, 0.493);
}
.content{  
  width: 100%;
}
/*Section 1*/
#section1{
  margin: 0;
  background-position-x: 100%;
  background-image: url("gradient3.png");
  background-size: cover;
  padding-top: 10vh;
}
.content-section1{
  margin: 0;
  padding: 100px;
  max-height: 400px;
}
.content-section1-text{
  max-width: 400px;
}
.content-section1-button{
  font-size: 25px;
  margin-top: 30px;
  background-color: transparent;
  color: aquamarine;
  width: 150px;
  height: 50px;
  border-radius: 20px;
  border: 3px aquamarine solid;
}
/*Section 2*/

#section2{
  margin-top: 100px;
  margin-bottom: 100px;
}

.step span > p{
  font-size: 20px;
  color: white;
  font-weight: bold;
  margin-bottom: 40px;
}
.step span:nth-child(1) > p{
  font-size: 30px;
  color: aquamarine;
}
.instructions-photo{
  background-color: red;
  width: 400px;
  height: 400px;
}
@media only screen and (min-width: 1050px) {
  .tip{
    display: inline-block;
    width: clamp(400px, 30vw, 700px);
  }
  .step{
    margin-inline: 5vw;
    margin-block: 60px;
    display: flex;
    justify-content: center;
  }
  .step-text{
    margin-right: 10vw;
  }
}
@media only screen and (max-width: 1050px) {
  .tip{
    display: inline-block;
    width: clamp(400px, 30vw, 1000px);
  }
  .step{
    margin-inline: 5vw;
    margin-block: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .step-text{
    margin-right: 0vw;
    text-align: center;
  }
}
/*Guides section*/
section #guides{
  
}



/*Section 3*/
#section3{
  margin: 0;
  background-position-x: 100%;
  background-image: url("tlo2-kopia.png");
  background-size: cover;
  padding-top: 40px;
}
section > h1{
  text-align: center;
  margin: 0;
}
section > p{
  font-size: 20px;
  text-align: center;
  opacity: .7;
  margin-bottom: 40px;
}
.bundles{
  margin-left: auto;
  clear: both;
  justify-self: center;
  display: grid;
  justify-content: center;
}
@media only screen and (min-width: 1800px) { /*fill size grid*/
  .bundles{
    grid-template-columns: repeat(4, 400px);
    gap: 50px;
  }
}
@media only screen and (max-width: 1800px) { /*wrapping grid*/
  .bundles{
    grid-template-columns: repeat(2, 390px);
    gap:150px;
  }
}
@media only screen and (max-width: 952px) {
  .bundles{
  grid-template-columns: 80vw;
  }
}
.bundle{
  border-radius: 50px;
  background-color: #4340ff;
  border: 10px solid #7fffd4;
  transition: all .5s;
  height: 400px;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 50px;
}
.bundle:hover{
  border: 5px solid #4340ff;
}
.name{
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 40px;
  color: aquamarine;
  text-transform: capitalize;
}
.price{
  font-weight: bold;
  color: aquamarine;
  font-size: 40px;
}
.offer{
  margin-top: 20px;
  font-size: 20px;
  color: white;
  
}


/* Large screens */
@media only screen and (min-width: 800px) {
  .nav{
    background-color: #2724e8fb;
    top: 0;
    right: 0;
    overflow-wrap: normal;
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content:space-between;
    transition: transform .5s ease;
    white-space: nowrap;
  }
  h1{
    color: white;
    margin-bottom: 10px;
    font-size: clamp(30px,7vh, 40px);
  }
  p{
    margin: 0;
    color: white;
    font-size: clamp(20px,5vh, 30px);
  }
  .logo{
    font-family: roboto, sans-serif;
    color: white;
    font-size: 40px;
    margin: 20px;
  }
  .buttons a{
    font-size: large;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    margin-left: 2vw;
    margin-right: 2vw;
  }
}
/*Medium size*/
@media only screen and (max-width: 800px) {
  .nav{
    background-color: #2724e8fb;
    top: 0;
    right: 0;
    overflow-wrap: normal;
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content:space-between;
    transition: transform .5s ease;
    white-space: nowrap;
  }
  h1{
    color: white;
    margin-bottom: 10px;
    font-size: clamp(30px,7vh, 40px);
  }
  p{
    margin: 0;
    color: white;
    font-size: clamp(20px,5vh, 30px);
  }
  .logo{
    font-family: roboto, sans-serif;
    color: white;
    font-size: 40px;
    margin: 20px;
  }
  .buttons a{
    font-size: large;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    margin-left: 2vw;
    margin-right: 2vw;
  }
}
  /* Small screens */
  @media only screen and (max-width: 600px) {
    ::-webkit-scrollbar{display: none;}
    .nav{
      background-color: #2724e8fb;
      top: 0;
      right: 0;
      position: fixed;
      width: 100vw;
      display: flex;
      justify-content:left;
      align-items: center;
      transition: transform .5s ease;
      white-space: nowrap;
    }
    h1{
      color: white;
      margin-bottom: 5px;
      font-size: clamp(20px,5vh, 30px);
    }
    p{
      margin: 0;
      color: white;
      font-size: clamp(20px,5vh, 25px);
    }    
    .logo{
      font-family: roboto, sans-serif;
      color: white;
      font-size: 25px;
      margin: 10px;
      margin-right: 50px;
    }
    .buttons a{
      border-bottom: 1px solid white;
      font-size: large;
      text-decoration: none;
      color: white;
      text-transform: capitalize;
      margin-left: 2vw;
      margin-right: 2vw;
    }
  }
